services:
  postgresql:
    image: docker.io/library/postgres:16-alpine
    restart: unless-stopped
    container_name: middleware_authentik_postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - /docker/configs/authentik/database:/var/lib/postgresql/data
    networks:
      - authentik
    environment:
      POSTGRES_PASSWORD: ${AUTHENTIK_POSTGRESQL_PASSWORD}
      POSTGRES_USER: authentik
      POSTGRES_DB: authentik

  server:
    image: ghcr.io/goauthentik/server:2025.12.3 #manual upgrade
    restart: unless-stopped
    container_name: middleware_authentik_server
    networks:
      - authentik
    command: server
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_POSTGRESQL_PASSWORD}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      AUTHENTIK_LOG_LEVEL: warning
      AUTHENTIK_CACHE__TIMEOUT: 600
      AUTHENTIK_CACHE__TIMEOUT_FLOWS: 600
      AUTHENTIK_CACHE__TIMEOUT_POLICIES: 600
      AUTHENTIK_POSTGRESQL__CONN_MAX_AGE: 300
      AUTHENTIK_EMAIL__HOST: smtp.office365.com
      AUTHENTIK_EMAIL__PORT: "587"
      AUTHENTIK_EMAIL__USERNAME: ${AUTHENTIK_EMAIL}
      AUTHENTIK_EMAIL__PASSWORD: ${AUTHENTIK_EMAIL_PASSWORD}
      AUTHENTIK_EMAIL__USE_TLS: "true"
      AUTHENTIK_EMAIL__FROM: ${AUTHENTIK_EMAIL}
    volumes:
      - /docker/configs/authentik/data:/data
      - /docker/configs/authentik/custom-templates:/templates
    ports:
      - 7080:9000
      - 7443:9443
    depends_on:
      postgresql:
        condition: service_healthy

  worker:
    image: ghcr.io/goauthentik/server:2025.12.3 #manual upgrade
    restart: unless-stopped
    container_name: middleware_authentik_worker
    networks:
      - authentik
    command: worker
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_POSTGRESQL_PASSWORD}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      AUTHENTIK_LOG_LEVEL: warning
      AUTHENTIK_CACHE__TIMEOUT: 600
      AUTHENTIK_CACHE__TIMEOUT_FLOWS: 600
      AUTHENTIK_CACHE__TIMEOUT_POLICIES: 600
      AUTHENTIK_POSTGRESQL__CONN_MAX_AGE: 300
      AUTHENTIK_EMAIL__HOST: smtp.office365.com
      AUTHENTIK_EMAIL__PORT: "587"
      AUTHENTIK_EMAIL__USERNAME: nikola@novoselec.ch
      AUTHENTIK_EMAIL__PASSWORD: ${AUTHENTIK_EMAIL_PASSWORD}
      AUTHENTIK_EMAIL__USE_TLS: "true"
      AUTHENTIK_EMAIL__FROM: nikola@novoselec.ch
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /docker/configs/authentik/data:/data
#      - /docker/configs/authentik/certs:/certs #not needed after 2025.12.0
      - /docker/configs/authentik/custom-templates:/templates
    depends_on:
      postgresql:
        condition: service_healthy

networks:
  authentik:
    external: true
