services:
  cloudflared:
    image: cloudflare/cloudflared:2026.2.0
    restart: unless-stopped
    container_name: storage_cloudflared
    network_mode: host
    user: 1026:100
    command: tunnel --no-autoupdate run --token
      ${CFD_TOKEN_MEDIASERVERS}
