services:
  dozzle:
    container_name: middleware_dozzle
    image: amir20/dozzle:v8.14.8
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8088:8080
    environment:
      - DOZZLE_REMOTE_AGENT=servarr.lan:7007,nas.lan:7007,mediaservers.lan:7007,komodo.lan:7007,tools.lan:7007,pihole-master.lan:7007,minecraft.lan:7007 #,immich.local:7007,pihole-slave-i.local:7007,pihole-slave-ii.local:7007,pihole-slave-iii.local:7007
    restart: unless-stopped
    network_mode: bridge
