services:
  dozzle-agent:
    image: amir20/dozzle:v8.14.8
    container_name: tools_dozzle_agent
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007
    restart: unless-stopped
    network_mode: bridge
