services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:v2.7.6-ls336
    container_name: servarr_heimdall
    environment:
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/heimdall/:/config
    ports:
      - 7140:80
    restart: unless-stopped
    network_mode: bridge
