services:
  emby:
    image: lscr.io/linuxserver/emby:4.9.3.0-ls269
    container_name: storage_emby
    environment:
      - PUID=1026
      - PGID=100
      - TZ=Europe/Zurich
    volumes:
      - /volume1/docker/emby:/config
      - /volume1/video/tv shows/:/mnt/share1
      - /volume1/video/movies/:/mnt/share2
#    ports:
#      - 8093:8096
    devices:
      - /dev/dri:/dev/dri #optional
    restart: unless-stopped
    network_mode: host
