services:
  dozzle-agent:
    image: amir20/dozzle:v9.0.2
    command: agent
    container_name: media_servers_dozzle_agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007
    environment:
    - DOZZLE_HOSTNAME=media_servers
    restart: unless-stopped
    network_mode: bridge
