services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    container_name: tools_paperless_database
    volumes:
      - /docker/configs/paperless-ngx/redisdata:/data

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.18.4
    restart: unless-stopped
    container_name: tools_paperless_server    
    depends_on:
      - broker
      - gotenberg
      - tika
    ports:
      - "8000:8000"
    volumes:
      - /docker/configs/paperless-ngx/data:/usr/src/paperless/data
      - /mnt/documents:/usr/src/paperless/media
      - /docker/configs/paperless-ngx/export:/usr/src/paperless/export
      - /docker/configs/paperless-ngx/consume:/usr/src/paperless/consume
    env_file: .env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_FILENAME_FORMAT: '{correspondent}/{created_year}/{created_year}.{created_month}.{created_day} - {title}'
      PAPERLESS_URL: ${PAPERLESS_URL}

t  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.23.2
    restart: unless-stopped
    container_name: tools_paperless_gotenberg
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: docker.io/apache/tika:3.2.3.0-full
    restart: unless-stopped
    container_name: tools_paperless_tika
