services:
  backrest:
    image: garethgeorge/backrest:v1.11.1
    container_name: storage_backrest
    hostname: backrest-nas.local.graymatter.ch
    volumes:
      - /volume1/docker/_synology_configs/backrest/data:/data
      - /volume1/docker/_synology_configs/backrest/config:/config
      - /volume1/docker/_synology_configs/backrest/cache:/cache
      - /volume1/docker/_synology_configs/backrest/tmp:/tmp
      - /volume1/docker/_synology_configs/:/userdata #Mount local paths to be backed up
      - /volume1/docker/_restic_backup_repository/:/repos #NFS mount of remote repository
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=Europe/Zurich
    ports:
      - "9898:9898"
    restart: unless-stopped
    network_mode: bridge
