services:
  ombi:
    image: lscr.io/linuxserver/ombi:v4.47.1-ls238
    container_name: servarr_ombi
    environment:
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/ombi:/config
    ports:
      - 3579:3579
    restart: unless-stopped
    network_mode: bridge
