services:
  maintainerr:
    image: ghcr.io/jorenn92/maintainerr:2.25.0
    container_name: servarr_maintainerr
    volumes:
      - type: bind
        source: /docker/configs/maintainerr
        target: /opt/data
    environment:
      - TZ=Europe/Zurich
      - PUID=1026
      - PGID=100
    ports:
      - 6246:6246
    restart: unless-stopped
    network_mode: bridge
