services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:3.0.1.4866-ls11
    container_name: servarr_lidarr
    user: 911:911
    environment:
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/lidarr:/config
      - /mnt/synology:/data
    ports:
      - 8686:8686
    restart: unless-stopped
    network_mode: bridge
