services:
    lidarr:
      image: lscr.io/linuxserver/lidarr:3.1.0.4875-ls14
      container_name: servarr_lidarr
      user: 0:0
      environment:
        - TZ=Europe/Zurich
      volumes:
        - /docker/configs/lidarr:/config
        - /mnt/music/Lidarr:/music
      ports:
        - 8686:8686
      restart: unless-stopped

    zotify-backend:
      image: xasiklas/zotifybackend:latest
      container_name: servarr_zotify_backend
      environment:
        - TZ=Europe/Zurich
        - SPOTIPY_CLIENT_ID=${SPOTIPY_CLIENT_ID}
        - SPOTIPY_CLIENT_SECRET=${SPOTIPY_CLIENT_SECRET}
        - SPOTIFY_USERNAME=${SPOTIFY_USERNAME}
        - SPOTIFY_PASSWORD=${SPOTIFY_PASSWORD}
      volumes:
        - /mnt/music/Lidarr/Downloads:/app/downloads
      ports:
        - 1337:1337
      restart: unless-stopped

    zotify-frontend:
      image: xasiklas/zotifyfrontend:latest
      container_name: servarr_zotify_frontend
      ports:
        - 5173:5173
      depends_on:
        - zotify-backend
      restart: unless-stopped