services:
  lidarr:
    image: ghcr.io/hotio/lidarr:pr-plugins-3.1.1.4901
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    container_name: servarr_lidarr
    environment:
      - PUID=1026
      - PGID=100
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/lidarr:/config
      - /mnt/music/Lidarr/Library:/music
      - /mnt/music/Lidarr/Downloads:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped
    networks:
      - lidarr
    depends_on:
      - bgutil-provider

  # Sidecar service to generate YouTube Proof of Origin (PO) Tokens
  # This bypasses the "Sign in to confirm you're not a bot" error
  bgutil-provider:
    image: brainicism/bgutil-ytdlp-pot-provider:1.2.2
    container_name: servarr_lidarr_bgutil_provider
    restart: unless-stopped
    expose:
        - "4416"  # Internal only - not exposed to host
    networks:
      - lidarr

networks:
  lidarr:
    driver: bridge
