services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:3.1.0.4875-ls15
    container_name: servarr_lidarr
    environment:
      - TZ=Europe/Zurich
      - PUID=1026
      - PGID=100
    volumes:
      - /docker/configs/lidarr:/config
      - /mnt/music/Lidarr:/music
    ports:
      - 8686:8686
    restart: unless-stopped

  zotify:
    build: https://github.com/zotify-dev/zotify.git
    container_name: servarr_zotify
    volumes:
      - /docker/configs/zotify:/root/.config/zotify
      - /mnt/music/Lidarr/Downloads:/root/Music
    stdin_open: true
    tty: true
    restart: unless-stopped
