services:
    portainer-ce:
        image: 'portainer/portainer-ce:2.37.0'
        volumes:
            - '/docker/configs/portainer:/data'
            - '/var/run/docker.sock:/var/run/docker.sock'
        restart: always
        container_name: middleware_portainer
        ports:
            - '9443:9443'
            - '8000:8000'