services:
  emby:
    image: lscr.io/linuxserver/emby:4.9.1.90-ls263
    container_name: media_servers_emby
    network_mode: host #for local/remote stream discovery
    environment:
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/emby:/config
      - /mnt/video/tv shows/:/mnt/synology/tv shows/
      - /mnt/video/movies/:/mnt/synology/movies/
      - /mnt/music:/music
      - /mnt/video/backup/:/mnt/synology/backup/
#    ports:
#      - 8093:8096 #not needed when running on host
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
