services:
  autobrr:
    container_name: servarr_autobrr
    image: ghcr.io/autobrr/autobrr:v1.72.0
    restart: unless-stopped
    logging:
      driver: local
    environment:
      - TZ=Europe/Zurich
      - AUTOBRR__OIDC_ENABLED=true
      - AUTOBRR__OIDC_ISSUER=${AUTOBRR__OIDC_ISSUER}
      - AUTOBRR__OIDC_CLIENT_ID=${AUTOBRR__OIDC_CLIENT_ID}
      - AUTOBRR__OIDC_CLIENT_SECRET=${AUTOBRR__OIDC_CLIENT_SECRET}
      - AUTOBRR__OIDC_REDIRECT_URL=${AUTOBRR__OIDC_REDIRECT_URL}
      - AUTOBRR__OIDC_DISABLE_BUILT_IN_LOGIN=false
      - AUTOBRR__CHECK_FOR_UPDATES=true
    volumes:
      - /docker/configs/autobrr:/config
    ports:
      - 7474:7474
    network_mode: bridge
