services:
  postgresql:
    image: postgres:16
    restart: unless-stopped
    container_name: tools_zipline_database
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRESQL_USER}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRES_DB: ${POSTGRESQL_DB}
    volumes:
      - /docker/configs/zipline/database:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'zipline']
      interval: 10s
      timeout: 5s
      retries: 5

  zipline:
    image: ghcr.io/diced/zipline:4.4.2
    container_name: tools_zipline_server
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://${POSTGRESQL_USER}:${POSTGRESQL_PASSWORD}@postgresql:5432/${POSTGRESQL_DB}
      - ZIPLINE_CORS_ORIGIN=https://zipline.novoselec.ch
#      - ZIPLINE_CORS_METHODS=GET,POST,PUT,DELETE,OPTIONS
#      - ZIPLINE_CORS_ALLOWED_HEADERS=Content-Type,Authorization,X-CF-Access-Client-Id,X-CF-Access-Client-Secret
#      - ZIPLINE_CORS_CREDENTIALS=true
    depends_on:
      - postgresql
    volumes:
      - zipline_uploads:/zipline/uploads
      - zipline_public:/zipline/public
      - zipline_themes:/zipline/themes
    restart: unless-stopped

volumes:
  zipline_uploads:
  zipline_themes:
  zipline_public:
