services:
  beszel:
    image: henrygd/beszel:0.16.0
    container_name: middleware_beszel
    restart: unless-stopped
#    network_mode: host
    ports:
      - 8090:8090
    volumes:
      - /docker/configs/beszel/beszel_data:/beszel_data
      - /docker/configs/beszel/beszel_socket:/beszel_socket
    network_mode: bridge
    
  beszel-agent:
    image: henrygd/beszel-agent:0.16.0
    container_name: middleware_beszel_agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /docker/configs/beszel/beszel_socket:/beszel_socket
      # monitor other disks or partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      LISTEN: 45876
      #LISTEN: /beszel_socket/beszel.sock
      KEY: ${BESZEL_KEY}
