services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.1
    container_name: middleware_cloudflared
    restart: unless-stopped
    network_mode: host
    user: 1000:1000
    command: tunnel --no-autoupdate run --token
      ${TOKEN} #secret
