services:
  npm:
    image: 'jc21/nginx-proxy-manager:2.13.6'
    restart: unless-stopped
    container_name: middleware_npm
    ports:
      - '80:80' #Public HTTP Port
      - '443:443' #Public HTTPS Port
      - '82:81' #Admin Web Port
    environment:
      DISABLE_IPV6: 'true'
    volumes:
      - /docker/configs/npm/data:/data
      - /docker/configs/npm/letsencrypt:/etc/letsencrypt
    networks:
      - proxy

networks:
  proxy:
      name: proxy