services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:v1.5.5-ls336
    container_name: servarr_bazarr
    environment:
      - TZ=Europe/Zurich
      - PUID=1026
      - PGID=100
    volumes:
      - /docker/configs/bazarr:/config
      - /mnt/synology:/data
    ports:
      - 6767:6767
    restart: unless-stopped
    network_mode: bridge
