services:
  tautulli:
    image: lscr.io/linuxserver/tautulli:v2.16.0-ls216
    container_name: media_servers_tautulli
    environment:
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/tautulli:/config
    ports:
      - 8181:8181
    restart: unless-stopped
    network_mode: bridge
