services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0.5236-ls135
    container_name: servarr_prowlarr
    environment:
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    network_mode: bridge
