services:
  huntarr:
    image: huntarr/huntarr:9.1.1
    container_name: servarr_huntarr
    restart: unless-stopped
    ports:
      - 9705:9705
    volumes:
      - /docker/configs/huntarr:/config
    environment:
      - TZ=Europe/Zurich
    network_mode: bridge
