services:
  beszel-agent:
    image: "henrygd/beszel-agent:0.18.1"
    container_name: "dns_ntp_beszel_agent"
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      LISTEN: 45876
      KEY: ${BESZEL_KEY} #secrets
      SYS_SENSORS: /mnt/sys
