services:
  dozzle-agent:
    image: amir20/dozzle:v9.0.0
    container_name: dns_ntp_dozzle_agent
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007
    restart: unless-stopped
    environment:
    - DOZZLE_HOSTNAME=dns_ntp
    network_mode: bridge
