services:
  plex:
    image: lscr.io/linuxserver/plex:1.42.2.10156-f737b826c-ls289
    container_name: media_servers_plex
    network_mode: host #host for local/remote stream discovery
    environment:
      - TZ=Europe/Zurich
      - VERSION=docker
#      - PLEX_CLAIM= #only for initial start to claim the server
    volumes:
      - /docker/configs/plex/:/config
      - /mnt/video/tv shows/:/mnt/synology/tv shows/
      - /mnt/video/movies/:/mnt/synology/movies/
      - /mnt/music:/mnt/synology-music/
      - /mnt/photo/:/mnt/synology-photos/
      - /mnt/video/backup/:/mnt/synology/backup/
#    ports:
#      - 32397:32400 #not needed when running on host network
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
