services:
  beszel-agent:
    image: "henrygd/beszel-agent:0.17.0"
    container_name: komodo_core_beszel_agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /docker/configs/beszel/sys:/mnt/sys
    environment:
      LISTEN: 45876
      KEY: ${BESZEL_KEY} #secrets
      SYS_SENSORS: /mnt/sys
