services:
  spotifux:
    image: ghcr.io/nikolanovoselec/spotifux:v4.0.3
    user: "0:0"
    ports:
      - 7171:7171
    environment:
      - SPOTIFY_PROXY_TEST_MODE=0
    volumes:
      - /docker/configs/spotifux/data:/app/data
      - /mnt/music/Spotifux_Downloads:/app/downloads
      - /docker/configs/spotifux/logs:/app/logs
      - /docker/configs/spotifux/.cache:/app/.cache
    container_name: media_servers_spotifux
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - redis
  
  redis:
    image: redis:alpine
    container_name: media_servers_spotifux_redis
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - /docker/configs/spotifux/redis-data:/data
    command: sh -c 'redis-server --requirepass "${SPOTIFUX_REDIS_PASSWORD}" --appendonly yes'