services:
  dozzle-agent:
    image: amir20/dozzle:v8.14.9
    container_name: servarr_dozzle_agent
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007
    environment:
    - DOZZLE_HOSTNAME=servarr
    restart: unless-stopped
    network_mode: bridge
