services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.3ubu2404-ls9
    container_name: media_servers_jellyfin
    environment:
      - TZ=Europe/Zurich
      - JELLYFIN_PublishedServerUrl=https://jellyfin.graymatter.ch/ #optional
    volumes:
      - /docker/configs/jellyfin:/config
      - /mnt/video/tv shows/:/data/tvshows
      - /mnt/video/movies/:/data/movies
    ports:
      - 8095:8096
#      - 8920:8920 #optional
#      - 7359:7359/udp #optional
#      - 1900:1900/udp #optional
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
