services:
  overseerr:
    image: lscr.io/linuxserver/overseerr:v1.35.0-ls159
    container_name: servarr_overseerr
    environment:
      - TZ=Europe/Zurich
    volumes:
      - /docker/configs/overseerr:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    network_mode: bridge
