services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16.2944-ls299
    container_name: servarr_sonarr
    environment:
      - TZ=Europe/Zurich
      - PUID=1026
      - PGID=100
    volumes:
      - /docker/configs/sonarr:/config
      - /mnt/synology:/data
    ports:
      - 8988:8989
    restart: unless-stopped
    network_mode: bridge
