services:
  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4.10291-ls290
    container_name: servarr_radarr
    environment:
      - TZ=Europe/Zurich
      - PUID=1026
      - PGID=100
    volumes:
      - /docker/configs/radarr:/config
      - /mnt/synology:/data
    ports:
      - 8309:7878
    restart: unless-stopped
    network_mode: bridge
